{
  "sourceMaps": "inline",
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": true
  },
  "jsc": {
    "target": "es2018",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
  }
}
